.todo {
    width: 100%;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--gray-100);
    border-radius: 5px;
    cursor: pointer;
}
.round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 0.8rem;
    overflow: hidden;
    border: 2px solid var(--check-color);
    border-radius: 50%;
    cursor: pointer;
}
.round.active {
    background: linear-gradient(90deg, #57ddff, #c058f3);
}
.round:hover {
    transform: scale(1.1);
    border: 1px solid hsl(280, 87%, 65%);
}
.active {
    text-decoration: line-through;
    color: var(--check-color);
}
